.InputCurrency{
    height: 2.1rem;
    width: 100%;
    max-width: 19rem;
    background-color: --white;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px 15%;
    border: 1px solid --blue-green;
}